*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(98, 117, 228)
}
ul{
    background-color: rgb(29, 28, 28);
}
li{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
li a{
    color: #f3f3f3;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    padding-bottom: 16px;
}
li a:hover{
    background-color: red;
}
img{
    width:100px;
    top: 20px;
    padding-left: 30px;
}